﻿@model IEnumerable<RentCar.Model.TipoVehiculo>

@{
    ViewBag.Title = "Tipo Vehiculos";
}

<h2>Tipo de Vehiculos</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
            <th>
                @Html.ActionLink("Volver Atras", "Index", "Vehiculoes")
            </th>
        </tr>
    </table>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoVehiculo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoVehiculo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoVehiculo })
        </td>
    </tr>
}

</table>
