﻿@model RentCar.Model.Vehiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustible.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCombustible.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVehiculo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVehiculo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoChasis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoChasis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoMotor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoMotor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoPlaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoPlaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdVehiculo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
