﻿@model IEnumerable<RentCar.Model.Vehiculo>

@{
    ViewBag.Title = "Vehiculos";
}

<h2>Vehiculos</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
            <th>
                @Html.ActionLink("Marcas", "Index", "Marcas")
            </th>
            <th>
                @Html.ActionLink("Tipo Combustible", "Index", "TipoCombustibles")
            </th>
            <th>
                @Html.ActionLink("Tipo Vehiculo", "Index", "TipoVehiculoes")
            </th>
            <th>
                @Html.ActionLink("Volver Al Home", "Index", "Home")
            </th>
        </tr>
    </table>




</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCombustible.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoVehiculo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoChasis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoMotor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoPlaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCombustible.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoVehiculo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoChasis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoMotor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdVehiculo }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdVehiculo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdVehiculo })
            </td>
        </tr>
    }

</table>





<label style="background: #008bd6;height:3px;width:5%;display:block;margin:20px auto;"></label>
<section style="width: 100%;margin: auto;margin-bottom: 50px;">
    <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
        <h4 style="padding-bottom: 20px">Kia K5</h4>
        <div style="background-image:url(../../Imagenes/kiak5.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
            <br /><br />.<br />
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
    </div>
    <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
        <h4 style="padding-bottom: 20px">Hyundai N20 </h4>
        <div style="background-image:url(../../Imagenes/hyundai.png);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:25%">
            <br /><br />.<br />
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
    </div>
    <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
        <h4 style="padding-bottom: 20px">Kia Sorento</h4>
        <div style="background-image:url(../../Imagenes/sorento.png);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
            <br /><br />.<br />
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
    </div>
</section>

<section style="margin-top:50px; background:url(../../Imagenes/1a.jpg);float:left;width:100%;height:200%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;text-align:center; background-position:center;color:white">
    <br />.<br />
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="http://www.google.com">Link</a></h3>
    <br />.<br />

</section>

<section style="width: 100%;margin: auto;margin-bottom: 50px;">
    <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
        <h4 style="padding-bottom: 20px">Isuzu Dimax</h4>
        <div style="background-image:url(../../Imagenes/isuzu.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
            <br /><br />.<br />
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
    </div>
    <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
        <h4 style="padding-bottom: 20px">Toyota Corola</h4>
        <div style="background-image:url(../../Imagenes/corola.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
            <br /><br />.<br />
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
    </div>
    <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
        <h4 style="padding-bottom: 20px">Toyota Hilux</h4>
        <div style="background-image:url(../../Imagenes/hilux2.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:25%">
            <br /><br />.<br />
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
    </div>
</section>

