﻿@model IEnumerable<RentCar.Model.Marca>

@{
    ViewBag.Title = "Marcas";
}

<h2>Marcas</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
            <th>
                @Html.ActionLink("Modelos", "Index", "Modeloes")
            </th>
            <th>
                @Html.ActionLink("Volver Atras", "Index", "Vehiculoes")
            </th>
        </tr>
    </table>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMarca }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMarca }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMarca })
        </td>
    </tr>
}

</table>
