﻿@model IEnumerable<RentCar.Model.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
            <th>
                @Html.ActionLink("Tipo de Cliente", "Index", "TipoPersonas")
            </th>
            <th>
                @Html.ActionLink("Volver al Home", "Index","Home")
            </th>
        </tr>
    </table>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoPersona.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LimiteCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPersona.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LimiteCredito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
