﻿@model IEnumerable<RentCar.Model.Inspeccion>

@{
    ViewBag.Title = "Inspecciones";
}

<h2>Inspecciones</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
            <th>
                @Html.ActionLink("Volver atras","Index","Reantas")
            </th>
        </tr>
    </table>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ralladuras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadCombustible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GomaRespuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roturas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GomasEstables)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ralladuras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadCombustible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GomaRespuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roturas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GomasEstables)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdInspeccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdInspeccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdInspeccion })
        </td>
    </tr>
}

</table>
