﻿@model IEnumerable<RentCar.Model.Tanda>

@{
    ViewBag.Title = "Tandas";
}

<h2>Tandas</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
            <th>
                @Html.ActionLink("Volver atras","Index","Empleadoes")
            </th>
        </tr>
    </table>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTanda }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTanda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTanda })
        </td>
    </tr>
}

</table>
