﻿@{
    ViewBag.Title = "About";
}
<h2>Información</h2>
<h3>Descripcion de nuestra Compañia</h3>

<div>
    <section style="width: 90%;margin: auto;">
        <section style="margin-top: 50px;text-align: center; ">
            <h1>Servicios</h1>
            <h4>My-Rent-a-Car.com es la compañía online de alquiler de coches líder del mercado, y prueba de ello es la disponibilidad de nuestros servicios en países y idiomas. Trabajamos con los principales proveedores, ofreciéndole los mejores precios en todas las categorías de vehículos: coches de gama alta, familiares y automáticos, entre muchos otros.</h4>
        </section>
        <label style="background: #008bd6;height:3px;width:5%;display:block;margin:20px auto;"></label>
        <p style="color:#999;line-height:28px;width:70%;margin:0 auto 40px auto;text-align:justify; font-size:20px">
            Es la compañía de alquiler de autos más importante de República Dominicana.
            ¡Nuestra reputación es nuestro activo más valioso construido por nuestra gente!
        </p>
        <label style="background: #008bd6;height:3px;width:5%;display:block;margin:20px auto;"></label>
        <section style="width: 100%;margin: auto;margin-bottom: 50px;">
            <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
                <h4 style="padding-bottom: 20px">Kia K5</h4>
                <div style="background-image:url(../../Imagenes/kiak5.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
                    <br /><br />.<br />
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
            </div>
            <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
                <h4 style="padding-bottom: 20px">Hyundai N20 </h4>
                <div style="background-image:url(../../Imagenes/hyundai.png);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:25%">
                    <br /><br />.<br />
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
            </div>
            <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
                <h4 style="padding-bottom: 20px">Kia Sorento</h4>
                <div style="background-image:url(../../Imagenes/sorento.png);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
                    <br /><br />.<br />
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
            </div>
        </section>
        <section class="contenedorColumnas">
            <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
                <h4 style="padding-bottom: 20px">Isuzu Dimax</h4>
                <div style="background-image:url(../../Imagenes/isuzu.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
                    <br /><br />.<br />
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
            </div>
            <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
                <h4 style="padding-bottom: 20px">Toyota Corola</h4>
                <div style="background-image:url(../../Imagenes/corola.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:30%">
                    <br /><br />.<br />
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
            </div>
            <div style="width: 33.333%;float: left;padding: 20px 20px;box-sizing: border-box;margin: auto;text-align: justify;">
                <h4 style="padding-bottom: 20px">Toyota Hilux</h4>
                <div style="background-image:url(../../Imagenes/hilux2.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:25%">
                    <br /><br />.<br />
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facere unde natus cumque, rem sed recusandae voluptates error. Quibusdam quaerat distinctio eligendi, vero quos doloribus. Doloribus adipisci praesentium perspiciatis eius? </p>
            </div>
        </section>
    </section>
</div>
<section style="margin-top:50px; background:url(../../Imagenes/1a.jpg);float:left;width:100%;height:200%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;text-align:center; background-position:center;color:white">
    <br />.<br />
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="http://www.google.com">Link</a></h3>
    <br />.<br />

</section>


<div>

    <div>
        
    </div>
</div>
<br /><br /><br /><br />
<div>
    <br /><br /><br /><br />
    <h2 style="text-align:center">Sobre Nosotros</h2>
    <label style="background: #008bd6;height:3px;width:5%;display:block;margin:20px auto;"></label>
    <p style="color:#999;line-height:28px;width:70%;margin:0 auto 40px auto;text-align:justify;font-size:16px">
        Desde 1964, con una pequeña mesa y una caja de metal bajo la sombra de un almendro,
        My-Rent-a-Car eran difíciles, ya que nació toda la compañía. Desde su fundación,
        My-Rent-a-Car tuvo que enfrentar un mercado muy competitivo, con importantes compañías internacionales operando en el país.<br />
        Esta competencia permitió que el nombre de Nelly sea más grande todos los días,
        porque no solo ha continuado sino que ha sido un ejemplo a seguir por otras empresas.
    </p>
</div>

<br /><br />
<h1 style="text-align:center">
    Nuestra Ubicación
</h1>
<br /><br />
<section>
    <div id="inf">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.3287574178244!2d-69.90023508457563!3d18.46876188743914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf882fae85d34b%3A0x6eb78e6cccba36d8!2sCalle+Santiago+%26+Calle+Garcia+Godoy%2C+Santo+Domingo%2C+Dominican+Republic!5e0!3m2!1sen!2ses!4v1500538805033" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
