﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section style="width:90%; margin:auto; text-align:center">
    <section style="margin-top: 50px;text-align: center; ">
        <h2> Contactanos</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod mollitia dolorem laborum omnis totam et, placeat, quibusdam distinctio sed voluptate, consectetur unde ut alias quae adipisci corporis culpa maiores!</h3>
    </section>
    <section style="margin-top: 50px;width: 100%">
        <div style="float:none;width: 50%;margin:auto;color: #999;">
            <div style="width: 50%;margin: auto;display: block;">
                <h4>Furmulario de Contacto</h4>
                <form action="">
                    <label>Nombre</label>
                    <input type="text" name="nombre" placeholder="Nombre" style="margin:auto;display: block;width: 363px;height: 40px;margin: 20px;padding: 10px;font-size: 14px;">
                    <label><br />Correo</label>
                    <input type="email" name="email" placeholder="Email" style="margin: auto;display: block;width: 363px;height: 40px;margin: 20px;padding: 10px;font-size: 14px;">
                    <label><br />Telefono</label>
                    <input type="tel" name="telefono" placeholder="Telefono" style="margin: auto;display: block;width: 363px;height: 40px;margin: 20px;padding: 10px;font-size: 14px;">
                    <label><br />Asunto</label>
                    <input type="text" name="asunto" placeholder="Asunto" style="margin: auto;display: block;width: 363px;height: 40px;margin: 20px;padding: 10px;font-size: 14px;">
                    <label><br />Comentarios </label>
                    <textarea name="comentarios" id="" cols="30" rows="10" style="width: 770px;height: 100px;margin: 20px;padding: 10px;font-size: 14px;" placeholder="Deja Tu Comentario Aqui"></textarea>
                </form>
            </div>
        </div>
        <div style="width: 50%;margin: auto;display: block;">
            <button type="submit" style="background: #0040FF;text-decoration: none;color: white;text-transform: uppercase;font-weight: bold;padding: 10px 70px;letter-spacing: 1px;width: 90%;transition: all 0.8s ease;">Enviar</button>
        </div>

    </section>
</section>
<br /><br />.<br /><br /><br />.<br />

<section>
    <div id="inf">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.3287574178244!2d-69.90023508457563!3d18.46876188743914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf882fae85d34b%3A0x6eb78e6cccba36d8!2sCalle+Santiago+%26+Calle+Garcia+Godoy%2C+Santo+Domingo%2C+Dominican+Republic!5e0!3m2!1sen!2ses!4v1500538805033" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>


<div class="row">
    <br /><br />.<br /><br /><br />.<br />
    <div class="col-md-4">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </div>
    <div class="col-md-4">
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Distinctio facere unde natus cumque, rem sed recusandae
            voluptates error. Quibusdam quaerat distinctio eligendi,
            vero quos doloribus. Doloribus adipisci praesentium
        </h5>
    </div>

</div>