﻿@{
    ViewBag.Title = "Home";
}


<h1>My Rent Car</h1>
<div style="background-image:url(../../Imagenes/kia.jpg); background-repeat: no-repeat;background-position:center; background-attachment:scroll; background-size:contain; width:100% ">
    <br /><br />.<br /><br /><br />.<br /><br /><br />.<br /><br /><br />.<br /><br /><br />.<br /><br /><br />.<br /><br /><br />.<br /><br /><br />.<br /><br /><br />.<br />
    <br /><br />.<br /><br />.<br />
</div>
<div style="position: fixed;top: 200px;z-index: 100;left: 0;">
    <div id="facebook"><a href="#" style="background: #3b5998;padding: 10px 25px;color: #fff;text-decoration: none;width: 55px;transition: all 0.8s ease">FB</a></div>
    <div id="youtube"><a href="#" style="background: red;padding: 10px 20px;color: #fff;text-decoration: none;width: 55px;transition: all 0.8s ease;">YT</a></div>
    <div id="twitter"><a href="#" style="background: blue;padding: 10px 20px;color: #fff;text-decoration: none;width: 55px;transition: all 0.8s ease;">TW</a></div>
    <div id="gmail"><a href="#" style="background: #666;padding: 10px 20px;color: #fff;text-decoration: none;width: 55px;transition: all 0.8s ease;">GM</a></div>
</div>

<div>
    <h1 style="text-align:center">
        BIENVENIDOS A MY RENT CAR
    </h1><br /><br />
    <h4 style="text-align:center">
        Con el objetivo de acercarnos más a usted y de brindarle una mejor experiencia, concentramos todas nuestras operaciones de la Zona Oriental en Plaza Megacentro, donde brindaremos<br /> nuestro acostumbrado servicio, en una oficina mucho más moderna y cómoda.
    </h4><br />
    <h3 style="text-align:center">
        HORARIO DE LUNES A DOMINGOS DE 8:00 AM - 9:00 PM
    </h3><br /><br />
    <h1 style="text-align:center">
        DESTINOS PRINCIPALES
    </h1>
</div>


<div class="row">
    <br /><br />.<br /><br /><br />.<br />
    <div class="col-md-4">
        <div style="background-image:url(../../Imagenes/romana.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:100%">
            <br /><br />.<br /><br /><br />.<br />.<br /><br />
        </div>
        <h2>LA ROMANA</h2>
        <p>
            Disfruté de la clase de recordatorio de historia y cultura. la ciudad vieja está bien mantenida y limpia.
        </p>
        <p><a class="btn btn-default" href="https://www.google.com.do/search?q=la+romana&rlz=1C1CHZL_enDO788DO788&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjIqejf-p3cAhWK6lMKHae9BvIQ_AUICigB&biw=1920&bih=984">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div style="background-image:url(../../Imagenes/samana.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:100%">
            <br /><br />.<br /><br /><br />.<br />.<br /><br />
        </div>
        <h2>SAMANA</h2>
        <p>Samana Atrae a muchos entusiastas de los deportes acuáticos, debido a sus aguas abrigadas y tranquilas.</p>
        <p><a class="btn btn-default" href="https://www.google.com.do/search?rlz=1C1CHZL_enDO788DO788&biw=1920&bih=984&tbm=isch&sa=1&ei=gpdJW4XQKpHb5gKp05q4DA&q=samana&oq=samana&gs_l=img.3..0i67k1j0l6j0i67k1j0l2.34934.35451.0.35660.6.6.0.0.0.0.143.364.0j3.3.0....0...1c.1.64.img..3.3.363....0.Hu118niOKnY">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div style="background-image:url(../../Imagenes/sosua.jpg);background-repeat: no-repeat; background-position:center; background-attachment:scroll;background-size:contain;width:100%">
            <br /><br />.<br /><br /><br />.<br />.<br /><br />
        </div>
        <h2>SOSUA-PUERTO PLATA</h2>
        <p>Sosúa atrae a muchos entusiastas de los deportes acuáticos, debido a sus aguas tranquilas y abrigadas.</p>
        <p><a class="btn btn-default" href="https://www.google.com.do/search?rlz=1C1CHZL_enDO788DO788&biw=1920&bih=984&tbm=isch&sa=1&ei=p5dJW9bmH6uJ5wKHu6CQCw&q=sosua&oq=sosua&gs_l=img.3..0j0i67k1j0l8.20735.21293.0.21454.5.5.0.0.0.0.114.428.0j4.4.0....0...1c.1.64.img..1.4.428....0.wjDhgz25UyM">Learn more &raquo;</a></p>
    </div>
</div>

<section style="margin-top:50px; background:url(../../Imagenes/1a.jpg);float:left;width:100%;height:200%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;text-align:center; background-position:center;color:white">
    <br />.<br />
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="http://www.google.com">Link</a></h3>
    <br />.<br />

</section>

<div>

    <h2 style="text-align:center">Gestion de vehiculos Adecuados para ti.</h2>
    <label style="background: #008bd6;height:3px;width:5%;display:block;margin:20px auto;"></label>
    <p style="text-align:center; font-size:20px">
        Refuerza tu imagen corporativa y optimiza la logística de transporte de tu negocio. con nuestra moderna flotilla de camionetas,
        doble cabina, 4x4 diesel obtienes los siguientes beneficios:<br /><br />
        1- Utilizas mejor tu capital eliminando altos costos de inversión a no tener que comprar unidades.<br />
        2- Evitas riesgos de demandas por accidentes en tu operación.<br />
        3- No utilizas recursos en talleres terrenos y personal para el mantenimiento de las unidades.<br />
        4- Con nosotros no tendrías unidades en taller que afecte la cadena de distribución.
    </p>
    <p class="sec-p"></p><br /><br />
    <!--<a href="#" data-toggle="modal" data-target="#myModal">Incribir Vacantes..</a>-->
</div>
<label style="background: #008bd6;height:3px;width:5%;display:block;margin:20px auto;"></label>

<section>
    <div id="inf">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.3287574178244!2d-69.90023508457563!3d18.46876188743914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf882fae85d34b%3A0x6eb78e6cccba36d8!2sCalle+Santiago+%26+Calle+Garcia+Godoy%2C+Santo+Domingo%2C+Dominican+Republic!5e0!3m2!1sen!2ses!4v1500538805033" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>

<section style="margin-top:50px; background:url(../../Imagenes/1a.jpg);float:left;width:100%;height:200%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;text-align:center; background-position:center;color:white">
    <br />.<br />
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="http://www.google.com">Link</a></h3>
    <br />.<br />

</section>