﻿@model RentCar.Model.Renta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Renta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
