﻿@model IEnumerable<RentCar.Model.Renta>

@{
    ViewBag.Title = "Rentas";
}

<h2>Rentas</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
            <th>
                @Html.ActionLink("Inspecciones","Index","Inspeccions")
            </th>
            <th>
                @Html.ActionLink("Volver al Home", "Index", "Home")
            </th>
        </tr>
    </table>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoDia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehiculo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDevolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoDia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRenta })
        </td>
    </tr>
}

</table>
